<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva Cita</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Agregar Nueva Cita</h2>
<form th:action="@{/citas/agregar}" method="post">
  <label for="cliente">Nombre del cliente:</label>
  <textarea id="cliente" name="cliente"></textarea>
  <br>
  <label for="fechaHora">Fecha y Hora:</label>
  <input type="datetime-local" id="fechaHora" name="fechaHora">
  <br>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" name="descripcion"></textarea>
  <br>

  <button type="button">Agregar Cita</button>
</form>
</body>
</html>