<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Cliente</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Agregar Nuevo Cliente</h2>

<form th:action="@{'/usuarios/' + ${usuarioId}+ '/clientes'}" method="POST">

  <!-- ID del cliente (generado en el backend) -->
  <label>Nombre:</label>
  <label>
    <input type="text" name="nombre" required th:value="${cliente != null ? cliente.nombre : ''}">
  </label>

  <label>Email:</label>
  <label>
    <input type="email" name="email" required th:value="${cliente != null ? cliente.email : ''}">
  </label>

  <label>Teléfono:</label>
  <input type="tel" name="telefono" required
         pattern="[0-9]{9,15}" title="Debe contener entre 9 y 15 números"
         th:value="${cliente != null ? cliente.telefono : ''}">

  <button type="submit">Agregar Cliente</button>
</form>

</body>
</html>
