<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendar Cita</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Agendar Nueva Cita</h2>
<form th:action="@{'/usuarios/' + ${usuarioId} + '/citas'}" method="post">
  <label>Descripción:</label>
  <label>
    <input type="text" name="descripcion" required th:value="${cita.descripcion != null ? cita.descripcion : ''}">
  </label>

  <label>Fecha y Hora:</label>
  <label>
    <input type="datetime-local" name="fechaHora" required th:value="${cita.fechaHora != null ? cita.fechaHora : ''}">
  </label>

  <label>Cliente:</label>
  <label>
    <input type="text" name="cliente" required th:value="${cita.cliente != null ? cita.cliente : ''}">
  </label>

  <button type="submit">Agendar Cita</button>
</form>
</body>
</html>
